@import "src/assets/styles/colors.scss";

.primary {
  width: 260px;
  height: 48px;
  background: $color-primary;
  border: none;
  border-radius: 100px;
  color: $color-white;
  font-size: 18px;
  font-family: Nunito-SemiBold;
  cursor: pointer;
}
