@font-face {
  font-family: "Nunito-Bold";
  src: url("./Nunito-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: bold;
  font-display: swap;
}

@font-face {
  font-family: "Nunito-ExtraBold";
  src: url("./Nunito-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: bold;
  font-display: swap;
}

@font-face {
  font-family: "Nunito-SemiBold";
  src: url("./Nunito-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: bold;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: url("./OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: bold;
  font-display: swap;
}
