$color-title: #081F32;
$color-subtitle: #6E798C;

$color-white: #ffffff;
$color-gray: #aab0b4;

$color-base: #e5e5e5;

$color-primary: #00cccc;
$color-primary-light: #0098c8;

$color-secondary: #27303e;
